<div class="container">

  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <table class="songs">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Genre</th>
              <th>User</th>
              <th>Votes</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="song in main.songs">
              <th>{{song.name}}</th>
              <th>{{song.artist}}</th>
              <th>{{song.genre.name}}</th>
              <th>{{song.user.name}}</th>
              <th>Votes</th>
              <th>
                <span ng-repeat="($i, comment) in song.comments">
                  {{comment.text}} - {{comment.user.name}}
                </span>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!main.user">
    <div class="large-4 columns">
      <label>Email</label>
      <input type="text" name="email" ng-model="main.creds.email">
      <label>Password</label>
      <input type="password" name="password" ng-model="main.creds.password">
      <button ng-click="main.log_in()">Log In</button>
    </div>
  </div>

  <div class="row" ng-if="main.user">
    <div class="large-4 columns">
      <button ng-click="main.log_out()">Log Out</button>
    </div>
  </div>

</div>
