/**
 *  If you want to override some foundation settings, you have to change values here.
 *  The list of settings values are listed here bower_components/foundation/scss/foundation/_settings.scss
 */
$topbar-bg-color: #5AADBB;
$grey: #f5f5f5;
$aqua: #5AADBB;
$lightaqua: #DFFFFF;

/**
 *  The import of foundation is made manually because there is still no links of the
 *  sass version in their bower.json...
 */
@import '../../bower_components/foundation/scss/foundation';

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

//nav
.title{
  padding:1em;
  font-size: 2em;
  color:$grey;
}

@media screen and (max-width: 680px) {
  .top-bar { 
      min-height: 12em !important;
  }
}

//main
.comment{
  margin:.2em;
  padding: .2em;
  background-color: $grey;
}
.songTitle {
  margin:.6em 0;
  background-color: $lightaqua;
}
.comments {
  margin-bottom: .4em;
}
.song{
   border-bottom: 1px solid $aqua;
   margin: .4em
}
.logout{
  margin-top: 1em;
}

.editSong {
  margin-top: 1em;
}

.row {
  max-width: 1400px;
}

//button 
.editSong, .deleteSong, .commentSong {
  padding: .6em 0;
  min-width: 5em;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
