<div class="container">
  	<div class="row">
	    <div class="large-12 large-text-center columns">
	    	<h1>User</h1>
	      	<div class="panel">
		      	<label for="email">Email</label>
		      	<input type="text" name="email" ng-model="user.user.email">
		      	<label for="name">Name</label>
		      	<input type="text" name="name" ng-model="user.user.name">
		      	<label for="password">Password</label>
		      	<input type="password" name="password" ng-model="user.user.password">
	        
	      	</div>
	    </div>
  	</div>
</div>