<div class="container">

  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
      <label for="name">Name</label>
      <input type="text" name="name" ng-model="song.song.name">
      <label for="name">Artist</label>
      <input type="text" name="artist" ng-model="song.song.artist">
      <label for="name">Link</label>
      <input type="text" name="link" ng-model="song.song.link">
      <!-- <label for="name">Genre</label>
      <select name="genre" ng-model="song.song.genre" ng-options="genre.name for genre in song.genres">
      </select> -->
      <!-- <label for="name">Comments (optional)</label>
      <input type="text" name="comments" ng-model="song.comment"> -->
      <button ng-click="song.save()">Save</button>
      <button ng-click="song.cancel()" class="secondary">Cancel</button>
     <!--  <button class="warning" ng-if="!song.genreEditor" ng-click="song.genreEditor = true">Create New Genre</button> -->
        
     </div>
      


     
    </div>
  </div>

  <!-- <div class="row" ng-if="song.genreEditor === true">
    <label for="genre">Genre </label>
    <input type="text" name="genre" ng-model="song.genre.name">
    <button ng-click="song.saveGenre()">Save</button>
    <button ng-click="song.genreEditor = undefined" class="secondary">Cancel</button>
  </div> -->

</div>
